name: Deploy to EC2

on:
  push:
    branches:
      - master  # Ejecutar solo cuando se haga push a la rama master
  workflow_dispatch:  # Permitir ejecución manual

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Hacer checkout del código
      - name: Checkout repository
        uses: actions/checkout@v2

      # 2. Configurar acceso SSH
      - name: Set up SSH keys
        run: |
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" | tr -d '\r' > mi_clave_ec2
          chmod 600 mi_clave_ec2
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

      # 3. Agregar la clave SSH de EC2 al archivo known_hosts
      - name: Add EC2 to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.EC2_PUBLIC_IP }} >> ~/.ssh/known_hosts

      # 4. Copiar el código a la instancia EC2
      - name: Copy code to EC2
        run: |
          scp -o StrictHostKeyChecking=no -i mi_clave_ec2 -r . ec2-user@${{ secrets.EC2_PUBLIC_IP }}:/home/ec2-user/ScoreFlow2

      # 5. Conectar a EC2 y desplegar la aplicación con Docker Compose
      - name: Deploy app on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i mi_clave_ec2 ec2-user@${{ secrets.EC2_PUBLIC_IP }} << 'EOF'
            cd /home/ec2-user/ScoreFlow2/API
            docker-compose down  # Apagar contenedores previos
            docker-compose up -d --build  # Levantar con nueva versión
            exit
          EOF  
        env:
          EC2_PUBLIC_IP: ${{ secrets.EC2_PUBLIC_IP }}  
